p {
	color: dark_gray;
	font-family: sans-serif;
}
h1 {
	text-align: center;
	color: dark_grey;
	font-family: sans-serif;
}
body {
	background: linear-gradient(#e66465, #9198e5);
}
#footer {
	<img href=""C:\Users\Josep\Documents\GitHub\HTML5-CSS3-Projects\One_page_Website\image\WWW.jpg></img>
}